body {
  width: 80%;
  margin: auto;
}

#title {
  padding-bottom: 2.5%;
}

#chart {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2.5%;
  row-gap: 2.5vw;
  width: 100%;
}

.item {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.artwork-title {
  font-size: 1.15vw;
  font-style: italic;
}

h2 {
  font-size: 0.75vw;
  font-style: normal;
  font-weight: 400;
}

.blurb {
  font-size: 0.75vw;
}

.details {
  width: 100%;
  flex-direction: column;
  text-align: center;
  padding-bottom: 5%;
}

.artwork {
  width: 100%;
  justify-content: center;
}

.bar {
  border: 1px solid black;
  width: 100%;
  height: 1.5vw;
}

.counter {
  display: flex;
  padding-top: 1.25%;
}

.count {
  font-size: 1.5vw;
  font-style: italic;
}

#count1 {
  display: block;
  cursor: pointer;
}

#count2 {
  display: none;
  cursor: pointer;
}

.filledBar {
  background-color: black;
  height: 100%;
}

.section-overview {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  row-gap: 10%;
  column-gap: 1.25%;
  padding-bottom: 2.5%;
}

.section-overview-title {
  font-size: 1.25vw;
}

.section-overview-image {
  width: 100%;
  overflow-x: hidden;
}

#chart {
  display: none;
}
